<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
    <h1>ホーム画面</h1>
    <form action="/score" method="post">
        <input type="date" name="date" placeholder="取組日">
        <input type ="number" name="score" placeholder="score">
        <input type="submit" value="登録">
    </form>
    <% @scores.each do |score|%>
        <% if score.user_id == @user.id %>
            <p><%= score.date %>></p>
            <p><%= score.score %></p>
        <% end %>
    <% end %>
</body>
</html>