<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    <div class="illust">
        <div class="imagebox1 imagebox">
            <div class="susi ikura"></div>
            <div class="susi tamago"></div>
        </div>
        <img src="../images/logo.png" class="logo">
        <div class="imagebox2 imagebox">
            <div class="susi ebi"></div>
            <div class="susi maguro"></div>
        </div>
    </div>
    <div class="writing">
        <h2>ログイン</h2>
        <div class="labels">
			<form action="/signin" method="post">
				<div class="label">
                	<p class="caption">ニックネーム</p>
                	<input type="text" name="name" placeholder="名前" class="whitebox">
            	</div>
	            <div class="label">
	                <p class="caption">パスワード</p>
	                <input type="password" name="password" placeholder = "パスワード" class="whitebox" >
	            </div>				
				<input type="submit" value="Log in" class="button">
			</form>
        </div>
        <a href="/signup" class="new">
            <div class="button">
                <p>新規登録</p>
            </div>
        </a>
    </div>
</body>
</html>
