<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Name</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    <div class="illust">
        <div class="imagebox1 imagebox">
            <div class="susi ikura"></div>
            <div class="susi tamago"></div>
        </div>
        <img src="../images/logo.png" class="logo">
        <div class="imagebox2 imagebox">
            <div class="susi ebi"></div>
            <div class="susi maguro"></div>
        </div>
    </div>
    <div class="writing">
        <h2>登録している名前を記入</h2>
        <div class="labels">
            <form action ="/name" method ="post">
                <div class="label inner">
                    <p class="caption">
                        ニックネーム
                    </p>
                    <input type="text" name ="name_conf" placeholder="ニックネーム" class="whitebox" required = "required">
                </div>
                <input type="submit" value="送信" class="button">
            </form>
        </div>
    </div>
    
</body>